
<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <div class="form-group row">
            <div class="col-lg-5 mx-auto">
                <form action="/admin/<% if(editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
                    <div class="form-group">
                        <label for="product-title">Product Title</label>
                        <input type="text" class="form-control" name="title" id="product-title" placeholder="Enter your product title" value="<% if(editing) { %><%= product.title %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="product-image">Product Image</label>
                        <input type="file" class="d-block w-100" name="image" id="product-image" value="<% if(editing) { %><%= product.image %><% } %>">        
                    </div>
                    <div class="form-group">
                        <label for="product-description">Product Description</label>
                        <textarea class="form-control" name="description" id="product-description" rows="10" placeholder="Enter your product description"><% if(editing) { %><%= product.description %><% } %></textarea>
                    </div>
                    <div class="form-group row">
                        <label for="product-price" class="col-lg-4 col-form-label">Product Price</label>
                        <div class="col-lg-8">
                            <input type="number" class="form-control" name="price" id="product-price" min="1" step="0.01"  value="<% if(editing) { %><%= product.price %><% } %>">                    
                        </div>    
                    </div>
                    <% if (editing) { %>
                        <input type="hidden" value="<%= product._id %>" name="productId">
                    <% } %>
                    <button type="submit" class="btn btn-info"><% if(editing) { %> Update Product <% } else { %>Add Product <% } %></button>
                </form>
            </div>
        </div>
    </div>    
<%- include('../includes/end.ejs') %>