<nav class="navbar shadow-sm mb-5 navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="<%= pageId  === '/' ? 'nav-item active' : 'nav-item' %>">
        <a class="nav-link" href="/">Shop</a>
      </li>
      <li class="<%= pageId  === '/products' ? 'nav-item active' : 'nav-item' %>">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <% if (isAuthenticated) { %>
        <li class="<%= pageId  === '/cart' ? 'nav-item active' : 'nav-item' %>">
          <a class="nav-link" href="/cart">Cart</a>
        </li>
        <li class="<%= pageId  === '/orders' ? 'nav-item active' : 'nav-item' %>">
          <a class="nav-link" href="/orders">Orders</a>
        </li>
        <li class="<%= pageId  === '/admin/add-product' ? 'nav-item active' : 'nav-item' %>">
          <a class="nav-link" href="/admin/add-product">Add Product</a>
        </li>
        <li class="<%= pageId  === '/admin/products' ? 'nav-item active' : 'nav-item' %>">
          <a class="nav-link" href="/admin/products">Admin Products</a>
        </li>
      <% } %>
    </ul>
    <ul class="navbar-nav">
        <% if (!isAuthenticated) { %>
          <li class="<%= pageId  === '/login' ? 'nav-item active' : 'nav-item' %>">
            <a href="/login" class="nav-link">Login</a>
          </li>
        <% } else { %>  
          <li class="nav-item">
            <form action="/logout" method="post" id="logoutForm">
              <a onclick="document.getElementById('logoutForm').submit()" class="nav-link cursor-pointer">Logout</a>
            </form>
          </li>
        <% } %>    
    </ul> 
  </div>
</nav>   
